/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* root variable color scheme*/
:root {
  /* colors */
  --main-lightest: #ffffff;
  --main-light: #b8b8b8;
  --main-darker: #2c2c2c;
  --main-darkest: #111111;
  --main-contrast: #e79600;

  /* fonts */
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
  --quote-font: "Bonheur Royale", sans-serif;
}

/* reset all margins and padding*/
body {
  margin: 0;
  padding: 0;
}

/*---------------------------------------------*/
/*  DEFAULT / GENERIC STYLING
/*---------------------------------------------*/

section {
  height: 100vh;
  padding: 2rem;
}

.text-center {
  text-align: center !important;
}

.section-title {
  padding-bottom: 0;
}

.section-title h1:after {
  content: "";
  position: relative;
  display: block;
  border-radius: 25px;
  width: 50px;
  height: 5px;
  background: var(--main-contrast);
}

.section-title p {
  font-size: 20px;
}

strong {
  font-weight: 500;
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

/*---------------------------------------------*/
/*  HEADER
/*---------------------------------------------*/

.header {
  position: fixed;
  width: 300px;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--main-lightest);
  background-color: var(--main-darkest);
  z-index: 9999;
  transition: ease(0.3s);
}

.header .header-image {
  width: 300px;
  display: block;
  margin-bottom: 20px;
  border-bottom: 8px solid
    color-mix(in srgb, var(--main-lightest), transparent 70%);
  transition: ease 0.3s;
}

.header-image:hover {
  line-height: 1;
  border-bottom: 8px solid var(--main-contrast) !important;
}

.header .sitename {
  text-decoration: none;
  margin: 0;
  color: var(--main-lightest);
  font-size: 30px;
  font-weight: 600;
}

/* HEADER SOCIAL LINKS */

.header .social-links {
  margin: 0px 0 20px 0;
}

.header .social-links i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .social-links a {
  margin: 10px 2px;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background: color-mix(in srgb, var(--main-lightest), transparent 90%);
  color: var(--default-color);
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}

.header .social-links a:hover {
  background: var(--main-contrast);
}

/* NAV LINKS */

/* toggle mobile nav bar off until we want to use it */
.mobile-nav-toggle {
  display: none;
}

.nav-links ul {
  list-style: none;
}

.nav-links a {
  padding: 15px 10px;
  width: 100%;
  font-family: var(--nav-font);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  color: var(--main-light);
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a .navicon {
  margin-right: 1rem;
  font-size: 20px;
  align-items: center;
}

.nav-links a:hover .navicon {
  color: var(--main-contrast);
}

.nav-links a:hover {
  color: white;
}

/* HEADER TOGGLE BUTTON */

.header .header-toggle {
  width: 40px;
  height: 40px;
  font-size: 30px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  right: 15px;
  color: var(--contrast-color);
  background-color: var(--main-darker);
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  transition: background-color 0.3s;
}

/* moves header back left when it's being shown */
.header.header-show {
  left: 0;
}

/* SCROLL TO TOP */

.header .scroll-to-top {
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 15px;
  color: var(--main-light);
  background-color: var(--main-darker);
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
  transition: ease 0.3s;
}

/* change our header toggle / scroll to toggle button when it's hovered over */
.header-toggle:hover,
.scroll-to-top:hover {
  color: var(--contrast-color);
  background-color: color-mix(in srgb, var(--main-contrast) 90%, white 15%);
  color: var(--main-darker);
}

/* visible class for showing out buttons as needed*/
.scroll-visible {
  opacity: 1 !important;
}

/*---------------------------------------------*/
/*  MAIN BODY
/*---------------------------------------------*/

.main {
  display: block;
  /* we use this here to isolate the main unicode settings from header */
  unicode-bidi: isolate;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.home .container {
  position: relative !important;
  z-index: 3;
  height: auto;
  width: 100%;
  padding-bottom: 60px;
  color: var(--main-lightest);
  font-family: var(--default-font);
}

.home h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 3px 2px black;
}

.home h3 {
  font-size: 30px;
  font-weight: 200;
  text-shadow: 1px 2px 1px black;
}

/* css for the home page cursor */
.typed-cursor {
  font-weight: bold;
  animation: blink 0.7s infinite;
}

.typed {
  text-decoration: none; /* Remove default underline */
  border: none; /* Ensure no border */
  position: relative; /* Enable pseudo-element positioning */
}

.typed::after {
  content: ""; /* Add an underline */
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px; /* Move the underline farther down */
  height: 4px; /* Thickness of the underline */
  background-color: var(--main-contrast); /* Color of the underline */
  border-radius: 12px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ABOUT SECTION */

.about-content {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.about-image img {
  padding-top: 5px;
  width: 350px;
  height: auto;
}

.about-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-list ul {
  list-style: none;
  padding-left: 0;
}

.about-list ul:first-child {
  margin-bottom: 0;
}

.about-list li {
  font-weight: 100;
  padding: 0.5rem;
  padding-left: 0;
  width: 100%;
}

.about-list li i {
  padding-right: 5px;
  font-size: 14px;
  color: var(--main-contrast);
}

.about-info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}

.skill-bars {
  padding: 0 !important;
}

.skill-name {
  font-size: 16px;
  font-weight: 600;
  font-family: var(--nav-font);
  margin: 10px 0;
}

.skill-bar {
  height: 20px;
  background: #282828;
  border-radius: 5px;
}

.skill-percent {
  height: 20px;
  background: var(--main-contrast);
  border-radius: 5px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-percent::before {
  content: attr(percent);
  position: absolute;
  padding: 4px 6px;
  color: white;
  background: var(--main-darker);
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-percent::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--main-darker);
  top: -15px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* RESUME SECTION */

.resume {
  height: auto;
}

.resume .row div:first-child > :nth-child(4) {
  padding-bottom: 0;
}

.resume .row div:last-child > :nth-child(4) {
  padding-bottom: 0;
}

.resume-title {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.resume-item {
  padding: 0 0 20px 20px;
  border-left: 2px solid var(--main-contrast);
  position: relative;
}

.resume-item::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  left: -12px;
  top: 0px;
  background: var(--main-lightest);
  border: 2px solid var(--main-contrast);
}

.resume-item h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.resume-item h4:first-child {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  align-items: flex-start;
  line-height: 18px;
}

.resume-item p {
  margin-bottom: 10px;
}

.resume-date {
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 14px;
}

.resume-item ul {
  margin: 0;
  list-style: circle;
}

.resume-item ul li {
  padding-top: 6px;
}

/* PORTFOLIO SECTION */

.portfolio {
  height: auto;
  min-height: 100vh;
}

.portfolio .section-title {
  margin-bottom: 2rem;
}

.portfolio .portfolio-filters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  margin: 0 10px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--main-contrast);
}

.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio-container {
  position: relative;
}

.portfolio-filters {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.portfolio-filters li {
  margin: 0 10px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.portfolio-content {
  position: relative;
  overflow: hidden;
}

.portfolio-content img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.portfolio-content:hover img {
  transform: scale(1.1); /* Slight zoom effect */
}

.portfolio-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Invisible by default */
  transition: background 0.3s ease;
  z-index: 1; /* Ensure overlay is above the image but below icons */
}

.portfolio-content:hover::before {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Darken the image with a semi-transparent overlay */
}

.portfolio-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px; /* Space between icons */
  opacity: 0; /* Hidden initially */
  transition: opacity 0.3s ease;
  z-index: 2; /* Ensure icons are above the overlay */
}

.portfolio-content:hover .portfolio-icons {
  opacity: 1; /* Show icons on hover */
}

.portfolio-icons a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;

  padding: 10px;
  border-radius: 50%; /* Circle background for icons */
  transition: transform 0.3s ease, background 0.3s ease;
}

.portfolio-icons a:hover {
  transform: scale(1.2); /* Slightly enlarge icon on hover */
  color: var(--main-contrast);
}

.portfolio-image {
  height: 250px !important;
  width: 410px !important;
  object-fit: fill !important;
}

.gslide-title {
  font-size: 1.5rem !important;
  font-weight: 800;
  margin-bottom: 10px;
}

.gslide-desc {
  font-size: 1rem !important;
  line-height: 1.5;
}

.ginner-container {
  width: 700px !important;
  height: auto;
}

/* Buttons for portfolio page */

.pagination {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 100%;

  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  z-index: 1;
}

.page-btn {
  cursor: pointer;
  border: none;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--main-darker);
  color: white;
  transition: ease 0.3s;
}

.page-btn:hover {
  background-color: var(--main-contrast);
}

.page-btn.active {
  background-color: var(--main-contrast);
}

/*---------------------------------------------*/
/*  MEDIA QUERIES
/*---------------------------------------------*/

@media (max-width: 1440px) {
  section {
    height: auto;
  }

  .about-image {
    display: flex !important;
    justify-content: center;
  }

  .about-image img {
    width: 280px;
    height: 280px;
    margin: 0px auto;
  }
}

@media (min-width: 1200px) {
  /* 1200 px or higher header populates left side 
  and main container / footer pushed left */
  .header ~ main,
  .header ~ #footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  /*hide header on anything under 1199 px*/
  .header {
    left: -100%;
  }

  .about-image img {
    width: 280px;
  }
}

@media (max-width: 768px) {
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-image {
    display: flex !important;
    justify-content: center;
  }

  .about-image img {
    width: 500px;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0px auto;
  }
}

/* specifically for portfolio filters as on 450 still sits nicely */
@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }

  .nav-links a {
    padding-top: 5%;
  }

  .about-image img {
    width: 300px;
  }

  .about-list li {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .skill-percent::before {
    display: none;
  }

  .skill-percent::after {
    display: none;
  }
}
