/* root variable color scheme*/
:root {
  /* colors */
  --main-lightest: #ffffff;
  --main-light: #b8b8b8;
  --main-darker: #2c2c2c;
  --main-darkest: #111111;
  --main-contrast: #e79600;

  /* fonts */
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* reset all margins and padding*/
* {
  margin: 0;
  padding: 0;
}

/* default styles*/

.container {
  height: 100vh;
  display: inline-block;
}

.text-center {
  text-align: center !important;
}

/* heading / navbar */

.header {
  position: fixed;
  width: 300px;
  height: 100vh;
  text-align: center;
  font-family: var(--heading-font);
  color: var(--main-lightest);
  background-color: var(--main-darkest);
  z-index: 1;
}

.header .header-image {
  width: 300px;
  display: block;
  margin-bottom: 20px;
  border-bottom: 8px solid
    color-mix(in srgb, var(--main-lightest), transparent 70%);
  transition: ease 0.3s;
}

.header-image:hover {
  border-bottom: 8px solid var(--main-contrast) !important;
  margin-bottom: 20px;
}

.header .sitename {
  text-decoration: none;
  color: var(--main-lightest);
  font-size: 30px;
  font-weight: 600;
}

.header .social-links {
  margin: 20px 0 20px 0;
}

.header .social-links i {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .social-links a {
  margin: 10px 2px;
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  background: color-mix(in srgb, var(--main-lightest), transparent 90%);
  color: var(--default-color);
  text-decoration: none;
  border-radius: 50%;
  transition: 0.3s;
}

.header .social-links a:hover {
  background: var(--main-contrast);
}

.nav-links ul {
  list-style: none;
  margin-left: 1.5rem;
}

.nav-links a {
  padding: 15px 10px;
  width: 100%;
  font-family: var(--nav-font);
  font-size: 20px;
  font-weight: 400;
  display: flex;
  color: var(--main-light);
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a .navicon {
  margin-right: 1rem;
  font-size: 20px;
  align-items: center;
}

.nav-links a:hover .navicon {
  color: var(--main-contrast);
}

.nav-links a:hover {
  color: white;
}

.main {
  margin-left: 300px;
  display: block;
  /* we use this here to isolate the main unicode settings from header */
  unicode-bidi: isolate;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.home .container {
  position: relative !important;
  z-index: 3;
  height: auto;
  width: 100%;
  padding-bottom: 60px;
  right: 5%;
  color: var(--main-lightest);
  font-family: var(--default-font);
}

.home h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 2px 3px 2px black;
}

.home h3 {
  font-size: 30px;
  font-weight: 200;
  text-shadow: 1px 2px 1px black;
}
